<div class="btn-toolbar py-5" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2 align-middle mx-auto" role="group" aria-label="First group">
      <button type="button" class="btn btn-success">
            <span class="material-icons fs-4">chevron_left</span>
      </button>
      <button type="button" class="btn btn-outline-success">1</button>
      <button type="button" class="btn btn-outline-success">2</button>
      <button type="button" class="btn btn-outline-success">3</button>
      <button type="button" class="btn btn-outline-success">4</button>
      <button type="button" class="btn btn-success">
        <span class="material-icons fs-4">chevron_right</span>
      </button>
    </div>
  </div>