p{
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: black;
}

nav{
    position: fixed;
    min-width: 200px; //最小寬度
    min-height: 100vh;
    background-color: #F8F9FA;
    padding: 40px 12px;

    li{
        padding: 12px 32px;
    }
}

main{
    margin-left: 200px;
}